.colorList {
    /*Основные цвета страницы*/
    color: #DCDCDC;
    color: #C0C0C0;
    color: #A9A9A9;
    color: #909090;
    color: #696969;
    color: #3a3a3a;
    color: #1a1a1a;
    color: #000000;
    color: #228B22;
    color: #006400;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono";
}

body {
    background-color: #3a3a3a;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 60%;
    max-width: 500px;
    background-color: #1a1a1a;
    border-radius: 15px;
    border: 1px solid;
    border-color: #A9A9A9;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    animation: glow 10s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    }

    100% {
        box-shadow: 0 0 40px rgba(255, 255, 255, 0.15);
    }
}


.start-interactives-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.add-players-name-input {
    flex-grow: 3;
    background-color: #696969;
    border: 1px solid;
    border-radius: 10px;
    color: #C0C0C0;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    height: 50px;
    transition: background-color 0.5s ease;
}

.add-players-name-input:focus {
    outline: none;
    background-color: #909090;
}

.add-players-name-button {
    display: flex;
    flex-grow: 1;
    background-color: #006400;
    color: #C0C0C0;
    font-size: 16px;
    border: none;
    padding: 12px 25px;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    min-width: 80px;
    height: 50px;
    transition: all 0.2s ease;
}

.add-players-name-button:hover {
    background-color: #228B22;
    color: #ffffff;
}


.player-frames-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.player-frame {
    display: flex;
    background-color:#909090;
    border: 0.2px solid;
    border-color: #DCDCDC;
    border-radius: 15px;
    width: 100px;
    height: 80px;
    justify-content: center;
    align-items: center;
    color: #DCDCDC;
    transition: all 0.5s ease;
}

.player-frame:hover {
    background-color: #A9A9A9;
    color: #ffffff;
    transform: scale(1.1);
}