.colorList {
    /*Основные цвета страницы*/
    color: #DCDCDC;
    color: #C0C0C0;
    color: #A9A9A9;
    color: #909090;
    color: #696969;
    color: #3a3a3a;
    color: #1a1a1a;
    color: #000000;
    color: #228B22;
    color: #006400;
    color: darkblue;
    color: blue;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono";
}

body {
    background-color: #3a3a3a;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: auto;
    min-width: 500px;
    background-color: #1a1a1a;
    border-radius: 15px;
    border: 1px solid;
    border-color: #A9A9A9;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    animation: glow 10s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    }

    100% {
        box-shadow: 0 0 40px rgba(255, 255, 255, 0.15);
    }
}


/* #region Интерактивные элементы стартовой страницы*/

.start-interactives-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.add-players-name-input {
    flex-grow: 3;
    background-color: #696969;
    border: 1px solid;
    border-radius: 10px;
    color: #DCDCDC;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    height: 50px;
    transition: background-color 0.5s ease;
}

.add-players-name-input:focus {
    outline: none;
    background-color: #909090;
}

.add-players-name-button {
    display: flex;
    flex-grow: 1;
    background-color: #006400;
    color: #C0C0C0;
    font-size: 16px;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    min-width: 80px;
    height: 50px;
    transition: all 0.2s ease;
}

.add-players-name-button:hover {
    background-color: #228B22;
    color: #ffffff;
}

/*#endregion*/

/* #region Фреймы игроков */

/* 
  "фрейм" = панель игрока: содержит имя и символ (X/O)
  Используется для отображения активного игрока и его роли
*/

.player-frames-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.player-frame {
    display: flex;
    position: relative;
    background-color: #909090;
    border: 0.2px solid;
    border-color: #DCDCDC;
    border-radius: 15px;
    width: 150px;
    height: 130px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #DCDCDC;
    transition: all 0.5s ease;
}

.player-frame:hover {
    background-color: #A9A9A9;
    color: #ffffff;
    transform: scale(1.1);
}


.del-player-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: red;
}

.game-player-frame {
    display: flex;
    background-color: #909090;
    border: 0.2px solid;
    border-color: #DCDCDC;
    border-radius: 15px;
    width: 150px;
    height: 130px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #DCDCDC;
    transition: all 0.5s ease;
}

.act-game-player-frame:hover {
    background-color: #A9A9A9;
    color: #ffffff;
    transform: scale(1.1);
}

.player-role-container {
    position: absolute;
    bottom: 10px;
    justify-content: center;
    align-items: center;
}

.player-role-cross {
    position: absolute;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #B22222;
    transition: color 0.2s ease;
}

.act-player-role-cross {
    color: red;
}

.player-role-nought {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: darkblue;
    transition: color 0.2s ease;
}

.act-player-role-nought {
    color: blue;
}

/* #endregion */

/* #region Кнопка старта игры */

.play-button-location {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.play-button {
    display: flex;
    background-color: darkblue;
    color: #C0C0C0;
    font-size: 16px;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    min-width: 80px;
    height: 50px;
    transition: all 0.2s ease;
    animation: slide-up 0.5s ease forwards;
    opacity: 0;
    transform: translateY(-20px);
}

@keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.play-button:hover {
    background-color: blue;
    color: #ffffff;
}

/* #endregion */

/* #region Сетка игры */

.game-mesh-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

table.game-mesh {
    background-color: #3a3a3a;
    border-collapse: collapse;
    margin: 0 auto;
    border-spacing: 0;
    width: 600px;
    min-width: 400px;
    height: 600px;
}

td.col-mesh {
    vertical-align: center;
    align-items: center;
    border: 0.001cm solid;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out,
        background-color 0.2s ease-in-out,
        outline 0.2s ease-in-out;
}

.col-mesh:hover {
    transform: scale(1.03);
    background-color: #696969;
    outline: none;
}

.col-mesh:active {
    background-color: #909090;
    outline: none;
}

/* #endregion */